<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<!-- DB access currently not needed -->
<!-- 	<import resource="datasource.xml" /> -->

	<context:load-time-weaver/>
	<context:annotation-config />
	<context:spring-configured />
	<context:component-scan base-package="org.vaadin.appbase" />
	<context:component-scan base-package="de.oio.vaadin" />

	<!-- Configuration hint from http://stackoverflow.com/questions/9605828/email-internationalization-using-velocity-freemarker-templates -->
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="resourceLoaderPath" value="/VAADIN/themes/demo/layouts/" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
				<value>general</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
		<property name="fallbackToSystemLocale" value="false" />
	</bean>

</beans>